[user]
	email = zoumas@protonmail.com
	name = zoumas

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default
	algorithm = histogram

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[rerere]
	enabled = true

[commit]
	verbose = true
